.field {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: auto;
  height: 134px;
  padding-right: 37px;
  padding-left: 35px;
}

.label {
  display: flex;
}

@media screen and (min-width: 768px) {
  .field {
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    height: 44px;
    padding-right: 92px;
    padding-left: 116px;
  }
}
@media screen and (min-width: 1280px) {
  .field {
    padding-right: 141px;
    padding-left: 400px;
  }
}

.link {
  position: relative;
  text-decoration: none;
  color: #52555f;
  fill: #52555f;

  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
}
.charts {
  position: absolute;
  top: -7px;
  right: -35px;
  align-self: stretch;
}

.link:focus,
.link:hover,
.charts:focus,
.charts:hover {
  color: rgba(255, 117, 29, 1);
  fill: rgba(255, 117, 29, 1);
}
.form {
  display: flex;
  flex-wrap: wrap;
  /* width: 248px; */
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.labelWrapper {
  display: flex;
  width: 248px;
}

.inputWrapper {
  position: relative;
  display: flex;
  height: 44px;
  width: 125px;
  align-items: baseline;
  justify-content: right;
  border: 2px solid rgba(255, 255, 255, 1);
  box-sizing: border-box;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@media screen and (min-width: 768px) {
  .form {
    margin-top: 0px;
  }
  .inputWrapper {
    width: 125px;
    border-radius: 16px;
  }
}

.labelText {
  margin-bottom: 6px;
  width: 100%;
  /* margin-right: 21px; */
  color: #52555f;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  left: 0;
  right: 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .labelText {
    margin-right: 21px;
    width: auto;
    margin-bottom: 0;
  }
}
.inputField {
  max-width: 100px;
  height: 44px;
  background-color: transparent;
  outline-color: transparent;
  color: rgba(0, 0, 0, 1);
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  text-align: right;
  letter-spacing: 0.02em;

  box-sizing: border-box;
  border: 0;
  cursor: pointer;
  padding-right: 5px;
}
@media screen and (min-width: 768px) {
  .inputField {
    /* border-radius: 16px; */
    box-sizing: border-box;
    /* padding-right: 41px; */
  }
  .btn {
    margin-left: 15px;
  }
}
.inputField:focus,
.inputField:hover {
  border-color: rgba(255, 117, 29, 1);
}

.uan {
  margin-right: 5px;
  background-color: transparent;
  color: rgba(0, 0, 0, 1);
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  text-align: right;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .uan {
    /* top: 15px;
    right: 150px; */
  }
}
.modalPosition {
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 999999999999999999;
}

.modalPositionNone {
  display: none;
}

.offBtn:focus,
.offBtn:hover {
  color: #52555f;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 1);
  cursor: default;
}
.offInput:focus,
.offInput:hover {
  color: rgba(0, 0, 0, 1);
  background-color: transparent;
  border-color: rgba(255, 255, 255, 1);
  cursor: default;
}
