.container {
  width: 320px;
  min-height: 855px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    min-height: 1021px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    min-height: 847px;
  }
}
