h1,
p {
  margin: 0;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
}

.title {
  margin-top: 86px;
  margin-bottom: 80px;
  padding-left: 40px;
}

.mainTitle {
  font-weight: 900;
  font-size: 48px;
  line-height: 0.85;
  letter-spacing: 0.045em;
  color: #000000;
}

.subTitle {
  margin: 6px 20px;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #52555f;
}

.dollarSymbol {
  font-weight: 900;
  font-size: 36px;
}

.loginWindow {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  max-width: 436px;
  background: #ffffff;
  box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
  border-radius: 30px;
  margin: 20px auto;
  padding: 40px 17px;
}

.description {
  max-width: 265px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;

  color: #52555f;
}

.googleButton {
  display: flex;
  justify-content: space-between;
  outline: none;
  border: none;
  min-width: 125px;
  min-height: 44px;
  border-radius: 16px;
  margin: 5px auto;
  padding: 12px 24px;
  background-color: #f6f7fb;
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  filter: drop-shadow(1px 3px 5px rgba(82, 85, 95, 0.15));
  cursor: pointer;
}

.googleButton:hover,
.googleButton:focus,
.googleButton:active {
  background-color: #e2e5f8;
}

.form {
  display: block;
  width: 100%;
  max-width: 265px;
}

.label {
  color: #000000 !important;
}

.emailField {
  margin-bottom: 30px;
}

.input {
  margin-left: auto;
  margin-right: auto;
  outline: #f6f7fb;
}

.input > div {
  outline: #f6f7fb;
  background: #f6f7fb;
  border-radius: 30px;
}
.input > div::after,
.input > div::before {
  content: none;
}

.input input {
  outline: #f6f7fb;
  background: #f6f7fb;
  border-radius: 30px;
  padding: 17px 20px;
}

.input p {
  background: #ffffff;
}

.passwordField {
  position: relative;
}

.passwordIconButton {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(40%);
}

.confirmButton {
  max-width: 265px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.confirmButton button {
  min-width: 125px;
  min-height: 44px;
  border-radius: 16px;
  padding: 12px 15px;
  color: #ffffff;
  background-color: #ff751d;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  filter: drop-shadow(1px 3px 5px rgba(82, 85, 95, 0.15));
}

.confirmButton a {
  text-decoration: none;
}

.confirmButton button:last-child {
  background-color: #f5f6fb;
  color: #52555f;
}

.confirmButton button:last-child:hover,
.confirmButton button:last-child:focus,
.confirmButton button:last-child:active {
  background-color: #e2e5f8;
}

.confirmButton button:disabled {
  background-color: #f5b994;
}

.confirmButton button:hover,
.confirmButton button:focus,
.confirmButton button:active {
  cursor: pointer;
  background-color: #ff751d;
}

/* @media screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding: 0 15px;
    margin: 0 auto;
    padding-bottom: 180px;
  }

  .title {
    padding-left: 90px;
  }

  .mainTitle {
    font-size: 60px;
  }

  .subTitle {
    margin: 8px 30px;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0.16em;
  }

  .dollarSymbol {
    font-size: 45px;
  }
} */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .title {
    margin-top: 90px;
    margin-bottom: 50px;
    padding-left: 170px;
  }

  .mainTitle {
    font-size: 75px;
  }

  .subTitle {
    margin: 8px 40px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.18em;
  }

  .dollarSymbol {
    font-size: 57px;
  }

  .loginWindow {
    padding: 50px 85px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 117px;
    padding-left: 230px;
    padding-right: 110px;
  }

  .title {
    padding-left: 0;
    position: relative;
    /* margin-bottom: 136px; */
  }

  .mainTitle {
    font-size: 102px;
  }

  .subTitle {
    margin: 12px 80px;
  }

  .dollarSymbol {
    font-size: 76px;
  }
}

.background {
  border-radius: 0 0 0 120px;
  background-color: #f5f6fb;
  height: 286px;
  background-image: url("../../images/background/Vector-320.png");
  background-position: top 104px left 271px;
  background-repeat: no-repeat;
}

.bottomBackground {
  width: 83px;
  height: 89px;
  margin-left: 35px;
  background-image: url("../../images/background/Vector-2-320.png");
  background-position: top 710px, left 35px;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .background {
    height: 526px;
    background-image: url("../../images/background/Group-768.png");
    background-repeat: repeat-x;
    background-position: top 26px left 0px;
  }

  .bottomBackground {
    width: 183px;
    height: 142px;
    margin-left: 103px;
    background-image: url("../../images/background/Group-2.png");
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1280px) {
  .background {
    background-image: url("../../images/background/Group-1280.png");
  }

  .bottomBackground {
    position: absolute;
    margin-left: 230px;
    top: 663px;
    background-image: url("../../images/background/Group-2.png");
    background-repeat: no-repeat;
  }
}
